#![enable(implicit_some)]
Container(
    transform: (
        id:             "bonus_select_menu",
        x:              0.0,
        y:              0.0,
        width:          1.0,
        height:         1.0,
        anchor:         Middle,
        mouse_reactive: false,
        percent:        true,
    ),
    background: (
        image: File(
            "resources/textures/ui/bg_main_menu.png",
            Png,
            (
                channel: Srgb,
                sampler: (
                    filter: Scale,
                    wrap_mode: (Clamp, Clamp, Clamp),
                )
            ),
        ),
    ),

    children: [
        Button(
            transform: (
                id:             "back_button",
                x:              -0.34375,
                y:              -0.003472,
                width:          0.0703125,
                height:         0.131945,
                anchor:         Middle,
                mouse_reactive: true,
                percent:        true,
            ),
            button: (
                text:              "",
                font:              File("resources/fonts/rujis-handwriting.ttf", Ttf, ()),
                font_size:         20.0,
                normal_text_color: (1.0, 1.0, 1.0, 0.5),
                // hover_text_color:  (1.0, 1.0, 1.0, 1.0),
                // press_text_color:  (1.0, 1.0, 1.0, 1.0),
                normal_image: File("resources/textures/ui/main_menu_button_back.png", Png,
                    (
                        channel: Srgb,
                        sampler: (
                            filter: Scale,
                            wrap_mode: (Clamp, Clamp, Clamp),
                        )
                    ),
                ),
                hover_image: File("resources/textures/ui/main_menu_button_back_hover.png", Png,
                    (
                        channel: Srgb,
                        sampler: (
                            filter: Scale,
                            wrap_mode: (Clamp, Clamp, Clamp),
                        )
                    ),
                ),
                press_image: File("resources/textures/ui/main_menu_button_back_hover.png", Png,
                    (
                        channel: Srgb,
                        sampler: (
                            filter: Scale,
                            wrap_mode: (Clamp, Clamp, Clamp),
                        )
                    ),
                ),
            ),
        ),

        Button(
            transform: (
                id:             "start_button_bonus_b",
                x:              -0.34375,
                y:              -0.128472,
                width:          0.0625,
                height:         0.076389,
                anchor:         Middle,
                mouse_reactive: true,
                percent:        true,
            ),
            button: (
                text:              "",
                font:              File("resources/fonts/rujis-handwriting.ttf", Ttf, ()),
                font_size:         20.0,
                normal_text_color: (1.0, 1.0, 1.0, 0.5),
                // hover_text_color:  (1.0, 1.0, 1.0, 1.0),
                // press_text_color:  (1.0, 1.0, 1.0, 1.0),
                normal_image: File("resources/textures/ui/main_menu_button_bonus_b.png", Png,
                    (
                        channel: Srgb,
                        sampler: (
                            filter: Scale,
                            wrap_mode: (Clamp, Clamp, Clamp),
                        )
                    ),
                ),
                hover_image: File("resources/textures/ui/main_menu_button_bonus_b_hover.png", Png,
                    (
                        channel: Srgb,
                        sampler: (
                            filter: Scale,
                            wrap_mode: (Clamp, Clamp, Clamp),
                        )
                    ),
                ),
                press_image: File("resources/textures/ui/main_menu_button_bonus_b_hover.png", Png,
                    (
                        channel: Srgb,
                        sampler: (
                            filter: Scale,
                            wrap_mode: (Clamp, Clamp, Clamp),
                        )
                    ),
                ),
            ),
        ),

        Button(
            transform: (
                id:             "start_button_bonus_a",
                x:              -0.43359375,
                y:              -0.1631945,
                width:          0.0703125,
                height:         0.104167,
                anchor:         Middle,
                mouse_reactive: true,
                percent:        true,
            ),
            button: (
                text:              "",
                font:              File("resources/fonts/rujis-handwriting.ttf", Ttf, ()),
                font_size:         20.0,
                normal_text_color: (1.0, 1.0, 1.0, 0.5),
                // hover_text_color:  (1.0, 1.0, 1.0, 1.0),
                // press_text_color:  (1.0, 1.0, 1.0, 1.0),
                normal_image: File("resources/textures/ui/main_menu_button_bonus_a.png", Png,
                    (
                        channel: Srgb,
                        sampler: (
                            filter: Scale,
                            wrap_mode: (Clamp, Clamp, Clamp),
                        )
                    ),
                ),
                hover_image: File("resources/textures/ui/main_menu_button_bonus_a_hover.png", Png,
                    (
                        channel: Srgb,
                        sampler: (
                            filter: Scale,
                            wrap_mode: (Clamp, Clamp, Clamp),
                        )
                    ),
                ),
                press_image: File("resources/textures/ui/main_menu_button_bonus_a_hover.png", Png,
                    (
                        channel: Srgb,
                        sampler: (
                            filter: Scale,
                            wrap_mode: (Clamp, Clamp, Clamp),
                        )
                    ),
                ),
            ),
        ),
    ],
)
