#![enable(implicit_some)]
Container(
    transform: (
        id:             "main_menu",
        x:              0.0,
        y:              0.0,
        width:          1.0,
        height:         1.0,
        anchor:         Middle,
        mouse_reactive: false,
        percent:        true,
    ),
    background: (
        image: File(
            "resources/textures/ui/bg_main_menu.png",
            Png,
            (
                channel: Srgb,
                sampler: (
                    filter: Scale,
                    wrap_mode: (Clamp, Clamp, Clamp),
                )
            ),
        ),
    ),

    children: [
        Button(
            transform: (
                id:             "quit_button",
                x:              -0.34,
                y:              -0.007,
                width:          0.07,
                height:         0.08,
                anchor:         Middle,
                mouse_reactive: true,
                percent:        true,
            ),
            button: (
                text:              "",
                font:              File("resources/fonts/rujis-handwriting.ttf", Ttf, ()),
                font_size:         20.0,
                normal_text_color: (1.0, 1.0, 1.0, 0.5),
                // hover_text_color:  (1.0, 1.0, 1.0, 1.0),
                // press_text_color:  (1.0, 1.0, 1.0, 1.0),
                normal_image: File("resources/textures/ui/main_menu_button_exit.png", Png,
                    (
                        channel: Srgb,
                        sampler: (
                            filter: Scale,
                            wrap_mode: (Clamp, Clamp, Clamp),
                        )
                    ),
                ),
                hover_image: File("resources/textures/ui/main_menu_button_exit_hover.png", Png,
                    (
                        channel: Srgb,
                        sampler: (
                            filter: Scale,
                            wrap_mode: (Clamp, Clamp, Clamp),
                        )
                    ),
                ),
                press_image: File("resources/textures/ui/main_menu_button_exit_hover.png", Png,
                    (
                        channel: Srgb,
                        sampler: (
                            filter: Scale,
                            wrap_mode: (Clamp, Clamp, Clamp),
                        )
                    ),
                ),
            ),
        ),

        Button(
            transform: (
                id:             "start_button_normal",
                x:              -0.34,
                y:              -0.13,
                width:          0.07,
                height:         0.07,
                anchor:         Middle,
                mouse_reactive: true,
                percent:        true,
            ),
            button: (
                text:              "",
                font:              File("resources/fonts/rujis-handwriting.ttf", Ttf, ()),
                font_size:         20.0,
                normal_text_color: (1.0, 1.0, 1.0, 0.5),
                // hover_text_color:  (1.0, 1.0, 1.0, 1.0),
                // press_text_color:  (1.0, 1.0, 1.0, 1.0),
                normal_image: File("resources/textures/ui/main_menu_button_main.png", Png,
                    (
                        channel: Srgb,
                        sampler: (
                            filter: Scale,
                            wrap_mode: (Clamp, Clamp, Clamp),
                        )
                    ),
                ),
                hover_image: File("resources/textures/ui/main_menu_button_main_hover.png", Png,
                    (
                        channel: Srgb,
                        sampler: (
                            filter: Scale,
                            wrap_mode: (Clamp, Clamp, Clamp),
                        )
                    ),
                ),
                press_image: File("resources/textures/ui/main_menu_button_main_hover.png", Png,
                    (
                        channel: Srgb,
                        sampler: (
                            filter: Scale,
                            wrap_mode: (Clamp, Clamp, Clamp),
                        )
                    ),
                ),
            ),
        ),

        Button(
            transform: (
                id:             "start_bonus_select_menu",
                x:              -0.432,
                y:              -0.16,
                width:          0.075,
                height:         0.07,
                anchor:         Middle,
                mouse_reactive: true,
                percent:        true,
            ),
            button: (
                text:              "",
                font:              File("resources/fonts/rujis-handwriting.ttf", Ttf, ()),
                font_size:         20.0,
                normal_text_color: (1.0, 1.0, 1.0, 0.5),
                // hover_text_color:  (1.0, 1.0, 1.0, 1.0),
                // press_text_color:  (1.0, 1.0, 1.0, 1.0),
                normal_image: File("resources/textures/ui/main_menu_button_bonus.png", Png,
                    (
                        channel: Srgb,
                        sampler: (
                            filter: Scale,
                            wrap_mode: (Clamp, Clamp, Clamp),
                        )
                    ),
                ),
                hover_image: File("resources/textures/ui/main_menu_button_bonus_hover.png", Png,
                    (
                        channel: Srgb,
                        sampler: (
                            filter: Scale,
                            wrap_mode: (Clamp, Clamp, Clamp),
                        )
                    ),
                ),
                press_image: File("resources/textures/ui/main_menu_button_bonus_hover.png", Png,
                    (
                        channel: Srgb,
                        sampler: (
                            filter: Scale,
                            wrap_mode: (Clamp, Clamp, Clamp),
                        )
                    ),
                ),
            ),
        ),
    ],
)
