#![enable(implicit_some)]
// UiWidget::Container
Container(
    // UiTransformBuilder
    transform: (
        id:             "win_game_menu",
        x:              0.0,
        y:              0.0,
        width:          1.0,
        height:         1.0,
        anchor:         Middle,
        mouse_reactive: false,
        percent:        true,
    ),
    // TODO: UiImageBuilder
    background: (
        image: Data(
            Rgba((0.0, 0.0, 0.0, 0.5), (channel: Srgb)),
        ),
    ),
    children: [
        // UiWidget::Button
        Button(
            // UiTransformBuilder
            transform: (
                id:             "continue_button",
                x:              -256.0,
                y:              0.0,
                width:          128.0,
                height:         64.0,
                anchor:         Middle,
                mouse_reactive: true,
            ),
            // UiButtonBuilder
            button: (
                text:              "CONTINUE FROM START",
                font:              File("resources/fonts/square.ttf", Ttf, ()),
                font_size:         32.0,
                normal_text_color: (0.2, 0.2, 1.0, 1.0),
                hover_text_color:  (0.4, 0.4, 1.0, 1.0),
                press_text_color:  (0.6, 0.6, 1.0, 1.0),
            ),
        ),
        // UiWidget::Button
        Button(
            // UiTransformBuilder
            transform: (
                id:             "quit_button",
                x:              256.0,
                y:              0.0,
                width:          192.0,
                height:         64.0,
                anchor:         Middle,
                mouse_reactive: true,
            ),
            // UiButtonBuilder
            button: (
                text:              "TO MAIN MENU",
                font:              File("resources/fonts/square.ttf", Ttf, ()),
                font_size:         32.0,
                normal_text_color: (0.2, 0.2, 1.0, 1.0),
                hover_text_color:  (0.4, 0.4, 1.0, 1.0),
                press_text_color:  (0.6, 0.6, 1.0, 1.0),
            ),
        ),
        // STATS DISPLAY
        Container(
            transform: (
                id:             "stats_texts",
                x:              0.0,
                y:              0.0,
                width:          1.0,
                height:         1.0,
                anchor:         Middle,
                mouse_reactive: false,
                percent:        true,
            ),
            // TODO: UiImageBuilder
            background: (
                image: Data(
                    Rgba((0.1, 0.0, 0.0, 0.8), (channel: Srgb)),
                ),
            ),
            children: [
                Text(
                    transform: (
                        id:             "stats_global_time_current",
                        x:              272.0, // 256 + 16
                        y:              -40.0, // -32 - 8
                        width:          512.0,
                        height:         64.0,
                        anchor:         TopLeft,
                        mouse_reactive: false,
                        percent:        false,
                    ),
                    text: (
                        text:      "Game Time: ",
                        font:      File("resources/fonts/undefined-medium.ttf", Ttf, ()),
                        font_size: 20.0,
                        color:     (0.4, 1.0, 0.8, 1.0),
                        align:     TopLeft,
                    ),
                ),
                Text(
                    transform: (
                        id:             "stats_global_time_best",
                        x:              272.0,  // 256 + 16
                        y:              -104.0, // -64 - 32 - 8
                        width:          512.0,
                        height:         64.0,
                        anchor:         TopLeft,
                        mouse_reactive: false,
                        percent:        false,
                    ),
                    text: (
                        text:      "Best Game Time: ",
                        font:      File("resources/fonts/undefined-medium.ttf", Ttf, ()),
                        font_size: 20.0,
                        color:     (0.4, 1.0, 0.8, 1.0),
                        align:     TopLeft,
                    ),
                ),
                Text(
                    transform: (
                        id:             "stats_deaths",
                        x:              -144.0, // -128 - 16
                        y:              -40.0,  // -32 - 8
                        width:          256.0,
                        height:         64.0,
                        anchor:         TopRight,
                        mouse_reactive: false,
                        percent:        false,
                    ),
                    text: (
                        text:      "Deaths: ",
                        font:      File("resources/fonts/undefined-medium.ttf", Ttf, ()),
                        font_size: 20.0,
                        color:     (0.4, 1.0, 0.8, 1.0),
                        align:     TopLeft,
                    ),
                ),
            ]
        ),
    ],
)
