#![enable(implicit_some)]
// UiWidget::Container
Container(
    // UiTransformBuilder
    transform: (
        id:             "win_game_menu",
        x:              0.0,
        y:              0.0,
        width:          1.0,
        height:         1.0,
        anchor:         Middle,
        mouse_reactive: false,
        percent:        true,
    ),
    // TODO: UiImageBuilder
    background: (
        image: File("resources/textures/ui/bg_paused_menu.png", Png, (channel: Srgb)),
    ),
    children: [
        // UiWidget::Text
        Text(
            transform: (
                id:             "you_win_text",
                x:              0.0,
                y:              0.0,
                width:          1024.0,
                height:         256.0,
                anchor:         TopMiddle,
                mouse_reactive: true,
                percent:        false,
            ),
            text: (
                text:      "Thank You For Playing <3",
                // color:     (0.3176470588235294, 0.0196078431372549, 0.12156862745098039, 1.0),
                color:     (0.22745098039215686, 0.00784313725490196, 0.03137254901960784, 1.0),
                font:      File("resources/fonts/square.ttf", Ttf, ()),
                font_size: 48.0,
                align:     BottomMiddle,
            ),
        ),

        // UiWidget::Button
        Button(
            // UiTransformBuilder
            transform: (
                id:             "continue_button",
                x:              0.0,
                y:              96.0,
                width:          224.0,
                height:         112.0,
                anchor:         Middle,
                mouse_reactive: true,
            ),
            // UiButtonBuilder
            button: (
                text:              "CONTINUE?",
                font:              File("resources/fonts/square.ttf", Ttf, ()),
                font_size:         32.0,
                normal_text_color: (0.2, 0.2, 1.0, 1.0),
                hover_text_color:  (0.4, 0.4, 1.0, 1.0),
                press_text_color:  (0.6, 0.6, 1.0, 1.0),
                normal_image:      File(
                    "resources/textures/ui/button.png",
                    Png,
                    (
                        channel: Srgb,
                        sampler: (
                            filter: Scale,
                            wrap_mode: (Clamp, Clamp, Clamp),
                        )
                    ),
                ),
                hover_image:       File(
                    "resources/textures/ui/button.png",
                    Png,
                    (
                        channel: Srgb,
                        sampler: (
                            filter: Scale,
                            wrap_mode: (Clamp, Clamp, Clamp),
                        )
                    ),
                ),
                press_image:       File(
                    "resources/textures/ui/button.png",
                    Png,
                    (
                        channel: Srgb,
                        sampler: (
                            filter: Scale,
                            wrap_mode: (Clamp, Clamp, Clamp),
                        )
                    ),
                ),
            ),
        ),
        // UiWidget::Button
        Button(
            // UiTransformBuilder
            transform: (
                id:             "quit_button",
                x:              0.0,
                y:              -96.0,
                width:          224.0,
                height:         112.0,
                anchor:         Middle,
                mouse_reactive: true,
            ),
            // UiButtonBuilder
            button: (
                text:              "MAIN MENU",
                font:              File("resources/fonts/square.ttf", Ttf, ()),
                font_size:         32.0,
                normal_text_color: (0.2, 0.2, 1.0, 1.0),
                hover_text_color:  (0.4, 0.4, 1.0, 1.0),
                press_text_color:  (0.6, 0.6, 1.0, 1.0),
                normal_image:      File(
                    "resources/textures/ui/button.png",
                    Png,
                    (
                        channel: Srgb,
                        sampler: (
                            filter: Scale,
                            wrap_mode: (Clamp, Clamp, Clamp),
                        )
                    ),
                ),
                hover_image:       File(
                    "resources/textures/ui/button.png",
                    Png,
                    (
                        channel: Srgb,
                        sampler: (
                            filter: Scale,
                            wrap_mode: (Clamp, Clamp, Clamp),
                        )
                    ),
                ),
                press_image:       File(
                    "resources/textures/ui/button.png",
                    Png,
                    (
                        channel: Srgb,
                        sampler: (
                            filter: Scale,
                            wrap_mode: (Clamp, Clamp, Clamp),
                        )
                    ),
                ),
            ),
        )
    ],
)
