Settings(
    camera: (
        /// Window size
        // size:             (1200.0,      800.0),
        size:             (600.0,      400.0),
        /// Rectangle in the center of the window, where the camera smoothly scrolls to player;
        /// Outside of this rectangle, the camera instantly snaps to where player is back inside.
        /// Basically, the player can never be outside of this inner rectangle.
        inner_size:       (300.0,       200.0),
        /// Camera's smooth scroll speed multiplier.
        base_speed:       (250.0,       250.0),
        /// Pixel padding, in which camera will stop scrolling to player.
        /// The camera will always center within +- these amounts of pixels, (accuracy kinda).
        deadzone:         (16.0,        16.0),
    ),

    player: (
        /// This is not used currently. Size is read from map.json, so it is defined with Tiled.
        size:             (16.0,        32.0),
        /// Player velocity acceleration when _not running_.
        acceleration:     (1000.0,      0.0),
        /// Jump velocity boost.
        jump_strength:    400.0,
        /// Max velocity when _not running_.
        max_velocity:     (Some(150.0), None),
        /// Decrease velocity by this amount, every frame.
        /// x value has no effect when moving, y value has no effect when falling/jumping.
        decr_velocity:    (2000.0,      1000.0),
        /// Gravitational pull when _not jumping_.
        gravity:          (0.0,         -500.0),
        /// Gravitational pull _when jumping_.
        jump_gravity:     (0.0,         -350.0),
    ),

    loading_text: (
      text:      "Loading...",
      font_file: "fonts/square.ttf",
      font_size: 64.0,
    ),

    level_manager: (
      levels_dir:  "levels",
      level_names: ("one.json"),
      tile_size:   (32.0, 32.0),
    )
)
