(
  spritesheet_width:  256,
  spritesheet_height: 32,
  sprites: [
    ( // 0
      x:      0,
      y:      0,
      width:  32,
      height: 32,
    ),
    ( // 1
      x:      32,
      y:      0,
      width:  32,
      height: 32,
    ),
    ( // 2
      x:      64,
      y:      0,
      width:  32,
      height: 32,
    ),
    ( // 3
      x:      96,
      y:      0,
      width:  32,
      height: 32,
    ),
    ( // 4
      x:      128,
      y:      0,
      width:  32,
      height: 32,
    ),
    ( // 5
      x:      160,
      y:      0,
      width:  32,
      height: 32,
    ),
    ( // 6
      x:      192,
      y:      0,
      width:  32,
      height: 32,
    ),
    ( // 7
      x:      224,
      y:      0,
      width:  32,
      height: 32,
    ),
  ],
)
