(
  spritesheet_width:  512,
  spritesheet_height: 96,
  sprites: [
    ( // 0
      x:      0,
      y:      0,
      width:  32,
      height: 96,
    ),
    ( // 1
      x:      32,
      y:      0,
      width:  32,
      height: 96,
    ),
    ( // 2
      x:      64,
      y:      0,
      width:  32,
      height: 96,
    ),
    ( // 3
      x:      96,
      y:      0,
      width:  32,
      height: 96,
    ),
    ( // 4
      x:      128,
      y:      0,
      width:  32,
      height: 96,
    ),
    ( // 5
      x:      160,
      y:      0,
      width:  32,
      height: 96,
    ),
    ( // 6
      x:      192,
      y:      0,
      width:  32,
      height: 96,
    ),
    ( // 7
      x:      224,
      y:      0,
      width:  32,
      height: 96,
    ),
    ( // 8
      x:      256,
      y:      0,
      width:  32,
      height: 96,
    ),
    ( // 9
      x:      288,
      y:      0,
      width:  32,
      height: 96,
    ),
  ],
)
