(
  spritesheet_width:  320,
  spritesheet_height: 32,
  sprites: [
    ( // 0 - ExtraJump
      x:      0,
      y:      0,
      width:  32,
      height: 32,
    ),
    ( // 1 - WallJump
      x:      32,
      y:      0,
      width:  32,
      height: 32,
    ),
    ( // 2 - Thorns
      x:      64,
      y:      0,
      width:  32,
      height: 32,
    ),
    ( // 3 - Deflect
      x:      96,
      y:      0,
      width:  32,
      height: 32,
    ),
    ( // 4 - DamageUp
      x:      128,
      y:      0,
      width:  32,
      height: 32,
    ),
    ( // 5 - SpeedUp
      x:      160,
      y:      0,
      width:  32,
      height: 32,
    ),
    ( // 6 - JumpUp
      x:      192,
      y:      0,
      width:  32,
      height: 32,
    ),
    ( // 7 - BulletShoot
      x:      224,
      y:      0,
      width:  32,
      height: 32,
    ),
    ( // 8 - Dash
      x:      256,
      y:      0,
      width:  32,
      height: 32,
    ),
    ( // 9 - Knockback
      x:      288,
      y:      0,
      width:  32,
      height: 32,
    ),
  ],
)
