(
  spritesheet_width:  288,
  spritesheet_height: 112,
  sprites: [
    (
      x:      0,
      y:      0,
      width:  16,
      height: 16,
    ),
    (
      x:      16,
      y:      0,
      width:  16,
      height: 16,
    ),
    (
      x:      32,
      y:      0,
      width:  16,
      height: 16,
    ),
    (
      x:      48,
      y:      0,
      width:  16,
      height: 16,
    ),
    (
      x:      64,
      y:      0,
      width:  16,
      height: 16,
    ),
    (
      x:      80,
      y:      0,
      width:  16,
      height: 16,
    ),
    (
      x:      96,
      y:      0,
      width:  16,
      height: 16,
    ),
    (
      x:      112,
      y:      0,
      width:  16,
      height: 16,
    ),
    (
      x:      128,
      y:      0,
      width:  16,
      height: 16,
    ),
    (
      x:      144,
      y:      0,
      width:  16,
      height: 16,
    ),
    (
      x:      160,
      y:      0,
      width:  16,
      height: 16,
    ),
    (
      x:      176,
      y:      0,
      width:  16,
      height: 16,
    ),
    (
      x:      192,
      y:      0,
      width:  16,
      height: 16,
    ),
    (
      x:      208,
      y:      0,
      width:  16,
      height: 16,
    ),
    (
      x:      224,
      y:      0,
      width:  16,
      height: 16,
    ),
    (
      x:      240,
      y:      0,
      width:  16,
      height: 16,
    ),
    (
      x:      256,
      y:      0,
      width:  16,
      height: 16,
    ),
    (
      x:      272,
      y:      0,
      width:  16,
      height: 16,
    ),
    (
      x:      0,
      y:      16,
      width:  16,
      height: 16,
    ),
    (
      x:      16,
      y:      16,
      width:  16,
      height: 16,
    ),
    (
      x:      32,
      y:      16,
      width:  16,
      height: 16,
    ),
    (
      x:      48,
      y:      16,
      width:  16,
      height: 16,
    ),
    (
      x:      64,
      y:      16,
      width:  16,
      height: 16,
    ),
    (
      x:      80,
      y:      16,
      width:  16,
      height: 16,
    ),
    (
      x:      96,
      y:      16,
      width:  16,
      height: 16,
    ),
    (
      x:      112,
      y:      16,
      width:  16,
      height: 16,
    ),
    (
      x:      128,
      y:      16,
      width:  16,
      height: 16,
    ),
    (
      x:      144,
      y:      16,
      width:  16,
      height: 16,
    ),
    (
      x:      160,
      y:      16,
      width:  16,
      height: 16,
    ),
    (
      x:      176,
      y:      16,
      width:  16,
      height: 16,
    ),
    (
      x:      192,
      y:      16,
      width:  16,
      height: 16,
    ),
    (
      x:      208,
      y:      16,
      width:  16,
      height: 16,
    ),
    (
      x:      224,
      y:      16,
      width:  16,
      height: 16,
    ),
    (
      x:      240,
      y:      16,
      width:  16,
      height: 16,
    ),
    (
      x:      256,
      y:      16,
      width:  16,
      height: 16,
    ),
    (
      x:      272,
      y:      16,
      width:  16,
      height: 16,
    ),
    (
      x:      0,
      y:      32,
      width:  16,
      height: 16,
    ),
    (
      x:      16,
      y:      32,
      width:  16,
      height: 16,
    ),
    (
      x:      32,
      y:      32,
      width:  16,
      height: 16,
    ),
    (
      x:      48,
      y:      32,
      width:  16,
      height: 16,
    ),
    (
      x:      64,
      y:      32,
      width:  16,
      height: 16,
    ),
    (
      x:      80,
      y:      32,
      width:  16,
      height: 16,
    ),
    (
      x:      96,
      y:      32,
      width:  16,
      height: 16,
    ),
    (
      x:      112,
      y:      32,
      width:  16,
      height: 16,
    ),
    (
      x:      128,
      y:      32,
      width:  16,
      height: 16,
    ),
    (
      x:      144,
      y:      32,
      width:  16,
      height: 16,
    ),
    (
      x:      160,
      y:      32,
      width:  16,
      height: 16,
    ),
    (
      x:      176,
      y:      32,
      width:  16,
      height: 16,
    ),
    (
      x:      192,
      y:      32,
      width:  16,
      height: 16,
    ),
    (
      x:      208,
      y:      32,
      width:  16,
      height: 16,
    ),
    (
      x:      224,
      y:      32,
      width:  16,
      height: 16,
    ),
    (
      x:      240,
      y:      32,
      width:  16,
      height: 16,
    ),
    (
      x:      256,
      y:      32,
      width:  16,
      height: 16,
    ),
    (
      x:      272,
      y:      32,
      width:  16,
      height: 16,
    ),
    (
      x:      0,
      y:      48,
      width:  16,
      height: 16,
    ),
    (
      x:      16,
      y:      48,
      width:  16,
      height: 16,
    ),
    (
      x:      32,
      y:      48,
      width:  16,
      height: 16,
    ),
    (
      x:      48,
      y:      48,
      width:  16,
      height: 16,
    ),
    (
      x:      64,
      y:      48,
      width:  16,
      height: 16,
    ),
    (
      x:      80,
      y:      48,
      width:  16,
      height: 16,
    ),
    (
      x:      96,
      y:      48,
      width:  16,
      height: 16,
    ),
    (
      x:      112,
      y:      48,
      width:  16,
      height: 16,
    ),
    (
      x:      128,
      y:      48,
      width:  16,
      height: 16,
    ),
    (
      x:      144,
      y:      48,
      width:  16,
      height: 16,
    ),
    (
      x:      160,
      y:      48,
      width:  16,
      height: 16,
    ),
    (
      x:      176,
      y:      48,
      width:  16,
      height: 16,
    ),
    (
      x:      192,
      y:      48,
      width:  16,
      height: 16,
    ),
    (
      x:      208,
      y:      48,
      width:  16,
      height: 16,
    ),
    (
      x:      224,
      y:      48,
      width:  16,
      height: 16,
    ),
    (
      x:      240,
      y:      48,
      width:  16,
      height: 16,
    ),
    (
      x:      256,
      y:      48,
      width:  16,
      height: 16,
    ),
    (
      x:      272,
      y:      48,
      width:  16,
      height: 16,
    ),
    (
      x:      0,
      y:      64,
      width:  16,
      height: 16,
    ),
    (
      x:      16,
      y:      64,
      width:  16,
      height: 16,
    ),
    (
      x:      32,
      y:      64,
      width:  16,
      height: 16,
    ),
    (
      x:      48,
      y:      64,
      width:  16,
      height: 16,
    ),
    (
      x:      64,
      y:      64,
      width:  16,
      height: 16,
    ),
    (
      x:      80,
      y:      64,
      width:  16,
      height: 16,
    ),
    (
      x:      96,
      y:      64,
      width:  16,
      height: 16,
    ),
    (
      x:      112,
      y:      64,
      width:  16,
      height: 16,
    ),
    (
      x:      128,
      y:      64,
      width:  16,
      height: 16,
    ),
    (
      x:      144,
      y:      64,
      width:  16,
      height: 16,
    ),
    (
      x:      160,
      y:      64,
      width:  16,
      height: 16,
    ),
    (
      x:      176,
      y:      64,
      width:  16,
      height: 16,
    ),
    (
      x:      192,
      y:      64,
      width:  16,
      height: 16,
    ),
    (
      x:      208,
      y:      64,
      width:  16,
      height: 16,
    ),
    (
      x:      224,
      y:      64,
      width:  16,
      height: 16,
    ),
    (
      x:      240,
      y:      64,
      width:  16,
      height: 16,
    ),
    (
      x:      256,
      y:      64,
      width:  16,
      height: 16,
    ),
    (
      x:      272,
      y:      64,
      width:  16,
      height: 16,
    ),
    (
      x:      0,
      y:      80,
      width:  16,
      height: 16,
    ),
    (
      x:      16,
      y:      80,
      width:  16,
      height: 16,
    ),
    (
      x:      32,
      y:      80,
      width:  16,
      height: 16,
    ),
    (
      x:      48,
      y:      80,
      width:  16,
      height: 16,
    ),
    (
      x:      64,
      y:      80,
      width:  16,
      height: 16,
    ),
    (
      x:      80,
      y:      80,
      width:  16,
      height: 16,
    ),
    (
      x:      96,
      y:      80,
      width:  16,
      height: 16,
    ),
    (
      x:      112,
      y:      80,
      width:  16,
      height: 16,
    ),
    (
      x:      128,
      y:      80,
      width:  16,
      height: 16,
    ),
    (
      x:      144,
      y:      80,
      width:  16,
      height: 16,
    ),
    (
      x:      160,
      y:      80,
      width:  16,
      height: 16,
    ),
    (
      x:      176,
      y:      80,
      width:  16,
      height: 16,
    ),
    (
      x:      192,
      y:      80,
      width:  16,
      height: 16,
    ),
    (
      x:      208,
      y:      80,
      width:  16,
      height: 16,
    ),
    (
      x:      224,
      y:      80,
      width:  16,
      height: 16,
    ),
    (
      x:      240,
      y:      80,
      width:  16,
      height: 16,
    ),
    (
      x:      256,
      y:      80,
      width:  16,
      height: 16,
    ),
    (
      x:      272,
      y:      80,
      width:  16,
      height: 16,
    ),
    (
      x:      0,
      y:      96,
      width:  16,
      height: 16,
    ),
    (
      x:      16,
      y:      96,
      width:  16,
      height: 16,
    ),
    (
      x:      32,
      y:      96,
      width:  16,
      height: 16,
    ),
    (
      x:      48,
      y:      96,
      width:  16,
      height: 16,
    ),
    (
      x:      64,
      y:      96,
      width:  16,
      height: 16,
    ),
    (
      x:      80,
      y:      96,
      width:  16,
      height: 16,
    ),
    (
      x:      96,
      y:      96,
      width:  16,
      height: 16,
    ),
    (
      x:      112,
      y:      96,
      width:  16,
      height: 16,
    ),
    (
      x:      128,
      y:      96,
      width:  16,
      height: 16,
    ),
    (
      x:      144,
      y:      96,
      width:  16,
      height: 16,
    ),
    (
      x:      160,
      y:      96,
      width:  16,
      height: 16,
    ),
    (
      x:      176,
      y:      96,
      width:  16,
      height: 16,
    ),
    (
      x:      192,
      y:      96,
      width:  16,
      height: 16,
    ),
    (
      x:      208,
      y:      96,
      width:  16,
      height: 16,
    ),
    (
      x:      224,
      y:      96,
      width:  16,
      height: 16,
    ),
    (
      x:      240,
      y:      96,
      width:  16,
      height: 16,
    ),
    (
      x:      256,
      y:      96,
      width:  16,
      height: 16,
    ),
    (
      x:      272,
      y:      96,
      width:  16,
      height: 16,
    ),
  ],
)
