(
  animations: [
    (
      name: "idle",
      default_delay_ms: Some(250),
      sprite_ids: [0, 1],
    ),
    (
      name: "shooting",
      default_delay_ms: Some(500),
      sprite_ids: [2, 0, 1],
    ),
  ],
  current: Some("idle"),
)
